<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Peliculas App</h1>
        <p class="lead">Subtitle</p>
        <hr class="my-4">
        <p>Content</p>
    </div>
</div>

<app-marco [peliculas]="cartelera" titulo="Cartelera"></app-marco>

<app-marco [peliculas]="populares" titulo="Populares"></app-marco>

<app-marco [peliculas]="ranquin" titulo="Aclamadas por la critica"></app-marco>
<app-marco [peliculas]="movieYear" titulo="Cintas del año"></app-marco>
<app-marco [peliculas]="dramaMovie" titulo="Cintas de drama"></app-marco>
